########################################
# Node.js & TypeScript build artifacts
########################################
node_modules/
dist/
.env

########################################
# Project runtime/cache/logs
########################################
data/
logs/

########################################
# Reports & analysis
########################################
.jscpd-report/
